<h1>Bonjour : {{#if name}}{{name}}{{/if}}</h1>
<ul></ul>
<form action="">
    <input type="text" />
    <input type="submit" value="Envoyer" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="app.js"></script>