<h1>Sign up</h1>
<form action="" method="POST">
    <fieldset>
    <label for="email">E mail</label>
    <input type="email" name="email">
    </fieldset>
    <fieldset>
    <label for="name">Pseudo</label>
    <input type="text" name="name">
    </fieldset>
    <fieldset>
    <label for="password">Password</label>
    <input type="password" name="password">
    </fieldset>
</form>
<a href="/signin">Go to Sign in</a>